<div class="item">
	<div class="mark">喜欢（2）</div>
	<ul class="posts large">
		<!-- 文章 -->
		<li>
			<span href="javascript:;" class="tag">去远方</span>
			<div class="cont">
				<h3>超多图｜置酒飞冬雪——寂静的2月北海道</h3>
				<div class="brief">
					<p>虽然沿途只有雪，但因天色变化带来的不同景致而激动的睡不着，加上大巴车途径带广钏路等城市，于是拍了一路，时间很快就过去了。</p>
					<div class="thumb">
						<img src="./uploads/post_3.png" alt="">
					</div>
				</div>							
			</div>
		</li>
		<li>
			<span href="javascript:;" class="tag">去远方</span>
			<div class="cont">
				<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h3>
				<div class="brief">
					<p>那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清</p>
					<div class="thumb">
						<img src="./uploads/post_1.png" alt="">
					</div>
				</div>							
			</div>
		</li>
	</ul>
</div>

		